<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="age">
        <input type="text" v-model="name">
        <input type="text" v-model="name">
        <p>name: {{name}}</p>
    </div>

    <script>
        /**
         *  手动实现vue双向相应demo
         *  vue双向响应原理,只需要说明 数据劫持(数据的访问其属性get/set)+发布订阅设计模式
         *  对象: Ob 观察者 ;  vm.data中的每一个对象的每一个属性需要被观察
         *  Dep 事件收集器:  vm.data中的每一个属性一旦发生了变化,会触发相关dep的subs中收集的事件
         *  Watcher 编译时对存在指定指令比如v-xx,{{}}的node节点进行watch,把当前node与data中对应的属性绑定,也就是把当前watch添加到Dep的subs中
         *  
         *  流程:  1. new Mvvm对象, 实现数据代理. 把配置项的data作为Vm对象的跟属性,可以实现vm.xx获取结果
         *         2. 开启Ob,递归对每一个data的属性,在访问器属性中(set)添加事件收集器 Dep,等待subject(需要被响应的事件这里指需要更新的dom)被加入
         *         3. 编译 html模板. 
         *            3.1 正则匹配存在v-xx的input,对其添加oninput事件,如果value变化,则vm.xx的对应数据也发生变化;
         *            3.2 对当前node 进行watch,把它需要更新的事件添加到对应的data的事件收集器中Dep.subs
         *            3.3 正则匹配 {{xx}} 内容, 直接根据xx获取vm.xx的值进行替换
         *            3.4 对当前node 进行watch,把它需要更新的事件添加到对应data的事件收集器中Dep.subs
         *         4. 把编译后的模板html重新替换到#app的div中
         *   执行: 1. 通过vm.xx修改对象的某个值,会触发Ob时候对该对象值的访问器属性(set),set中会调用dep.notify.这里是发布订阅模式的发布代码执行.
         *          通知每一个与之关联的node节点更新;
         *         2. 如果通过input修改value,那么会触发改input的oninput事件,该事件中会执行修改 v-model对应的vm的data的值.
         * 
         * 
         * 
         * */

        // 观察每一个数据对象
        function Ob(data){
            this.data = data;
            this.walk(data);
        }
        Ob.prototype = {
            walk(data){
                Object.keys(data).forEach(key=>{
                    this.convert(key,data[key]);
                })
            },
            convert(key,val){
                this.defineReactive(this.data,key,val)
            },
            defineReactive(data,key,val){
                var dep = new Dep();
                // 遍历每一个对象属性 讲其变成一个观察者对象
                // 如果是一个嵌套对象 需要进行递归处理
                if(val && typeof val === 'object')
                    new Ob(val);
                // 添加监听
                Object.defineProperty(data,key,{
                    get(){
                        // 如果dep有target 把target的事件添加到当前的dep集合
                        if(Dep.target)
                            dep.depend()
                        return val
                    },
                    set(nv){
                        if(nv == val){
                            return ;
                        }
                        val = nv;
                        // 如果新赋值是对象 需要重新添加观察者
                        if(val&&typeof val == 'object')
                        new Ob(val)
                        // 通知所有的事件对象更新
                        dep.notify();
                    }
                })
            }
        }

        // 收集器
        function Dep(){
            this.subs = [];
        }
        Dep.prototype = {
            addSub(sub){
                this.subs.push(sub)
                console.log('this.sub',this.subs)
            },
            depend(){
                // 把当前对象添加绑定
                Dep.target.addDep(this);
            },
            notify(){
                this.subs.forEach(sub=>{
                    sub.update();
                })
            }
        }


        // 订阅者
        function Watcher(vm,key,cb){
            this.cb = cb;
            this.vm = vm;
            this.key = key;
            this.value = this.get();
        }
        Watcher.prototype = {
            get(){
                Dep.target = this;
                //触发get
                var value = this.getVmValue(this.vm,this.key)();
                Dep.target = null;
                return value;
            },
            update(){
                // 获取新值
                var value = this.getVmValue(this.vm,this.key)();
                if(value!= this.value){
                    this.value = value;
                    // 执行更新
                    this.cb(this.value);
                }

            },
            addDep(dep){
                dep.addSub(this)
            },
            getVmValue(vm,key){
                var val = vm;
                // users.zs.name
                key = key.split('.');
                return function(){
                    key.forEach(v=>{
                        val = val[v]
                    })
                    return val;
                }
            }
        }
        // 创建编译对象
        function Compile(vm,el){
            this.$vm = vm;
            this.$el = document.querySelector(el);
            this.init();
        }
        Compile.prototype = {
            init(){
                // 拷贝虚拟dom
                this.$frament = this.node2Frament();
                // 执行编译
                this.compileElement(this.$frament);
                // 渲染页码
                this.$el.appendChild(this.$frament);

            },
            node2Frament(){
                var frament = document.createDocumentFragment();
                var child ;
                while(child = this.$el.firstChild){
                    frament.appendChild(child)
                }
                return frament;
            },
            // 解析node
            compileElement(el){
                var childNodes = el.childNodes;
                var that = this;
                Array.prototype.slice.call(childNodes).forEach(node=>{
                    // 对node进行遍历
                    // 说明是dom节点
                    if(node.nodeType == 1){
                        var attrs = node.attributes;
                        for(var i = 0 ;i < attrs.length ; i ++){
                            var attr = attrs[i];
                            var attrName = attr.name;
                            if(attrName.indexOf('v-')!= -1){
                                // v-model ==>  model
                                var attrKey = attrName.substring(2);
                                // users.zs.age
                                var attrVal = attr.value;
                                // input  v-model='user.age'
                                if(attrKey == 'model'){
                                    node.value = that._getVMVal(that.$vm,attrVal);
                                    // 是input 
                                    node.oninput = function(){
                                        // 修改vm的值
                                        that._setVMVal(that.$vm,attrVal,this.value);
                                    }
                                    // 添加watch
                                    new Watcher(that.$vm,attrVal,nv=>{
                                         node.value = nv
                                    })
                                }
                            }
                            
                            
                        }
                    }else if(node.nodeType == 3 ){
                        var textContent = node.textContent;
                        // 如果是文本节点 解析文本节点
                        if(/\{\{([^\{\}]*)\}\}/.test(textContent)){
                            node.nodeValue = that._getVMVal(that.$vm,RegExp.$1.trim());
                            //添加watch
                            new Watcher(that.$vm,RegExp.$1,nv=>{
                                node.nodeValue = nv;
                            })
                        }
                    }
                    if(node.childNodes && node.childNodes.length>0){
                        that.compileElement(node)
                    }

                })
            },
            _setVMVal(vm,attrVal,value){
                var val = vm;
                // user.city.name 
                attrVal = attrVal.split('.');
                attrVal.forEach((k,index)=>{
                    if(index < attrVal.length - 1){
                        val = val[k]
                    }else{
                        val[k] = value
                    }
                })

                 
            },
            _getVMVal(vm,exp){
                // user.city.name
                var val = vm;
                exp = exp.split('.');
                exp.forEach((k,index)=>{
                    val = val[k]
                })
                return val;
            }
        }

        // 创建vm对象

        function Mvvm(options){
            var data = this._data = options.data;
            this.el = options.el;

            Object.keys(data).forEach(key=>{
                this._proxyData(key)
            })
            // 
            this.init();

        }
        Mvvm.prototype = {
            init(){
                // 1.开启观察者 
                new Ob(this._data)
                // 2. 编译
                new Compile(this,'#app');
            },
            _proxyData(key){
                var vm = this;
                Object.defineProperty(vm,key,{
                    set(nv){
                        vm._data[key] = nv;
                    },
                    get(){
                        return vm._data[key]
                    }
                })
            }
        }
    </script>
    <script>
        var vm = new Mvvm({
            data: {
                name: '张三',
                age: 20
            },
            el: '#app'
        })
    </script>
</body>
</html>